<div class="converter">
    <div class="convertedUnitsList">
        <convertedItem *ngFor="let unit of Units[indexOfWantedTypeUnit].units; let x = index" (click)="changeUnit(x)" [item]="unit"></convertedItem>
        <div [@warnTemp]="this.minusForbiddenWarning" class="minusForbiddenWarning" *ngIf="this.minusForbiddenWarning">
            {{ this.forbiddenMessage }}
        </div>
    </div>
    <div class="modes">
        <modes (convType)="changeType($event)"></modes>
    </div>
    <div class="keyboard">
        <div class="anotherFun">
            <div *ngIf="allowMinus" class="button plusMinus" (click)="buttonClicked('plusMinus')"></div>
        </div>
        <numKeyboard (btnClicked)="buttonClicked($event)"></numKeyboard>
    </div>
</div>