.converter{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;
    height: 99vh;
}

.convertedUnitsList{
    width: 100vw;
    height: 61vh;
    overflow-y: scroll;
}

.button {
    width: 11.42vw;
    height: 11.42vw;
    font-size: 6.34vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.plusMinus{
    background-image: url(/assets/UI/ICON/CALCULATOR/KEYBOARD/plusMinus.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.minusForbiddenWarning{
    width: 100vw;
    height: 5vh;
    background-color: red;
    font-size: 2vh;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}