.keyboard{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.numbers{
    display: grid;
    grid-template-columns: 11.42vw 11.42vw 11.42vw;
}

.button {
    width: 11.42vw;
    height: 11.42vw;
    /* border: 1px solid #979797; */
    font-size: 6.34vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero{
    width: 22.84vw;
    grid-column-start: 1;
    grid-column-end: 3;
}

.operations{
    display: grid;
    grid-template-columns: 11.42vw 11.42vw;
}

